body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  width: 100%;
  height: 100%;
}

.navig {
  display: block;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 140% */
  margin-top: 62px;
  max-width: 472px;
  width: 100%;
  min-height: 36px;
  margin-left: 142px;
  color: #242635;
}

.navlist {
  list-style: none;
  padding: 0;
}
.navlist a {
  text-decoration: none;
  color: #242635;
}
.navlist a:hover {
  color: red;
}

.logo {
  float: left;
}

.navright {
  float: right;
  margin-left: 29px;
}

.paragraphs {
  max-width: 416px;
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.midpage {
  max-width: 1440px;
  width: 100%;
  margin: auto;
}

.large-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 90px;
  line-height: 102px;
  /* identical to box height, or 113% */
  margin-bottom: 45px;
  letter-spacing: -2px;
  color: #242635;
}

.small-text {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  /* or 150% */
  color: #242635;
}

.textimg-midpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .paragraphs {
    max-width: 574px;
    width: 100%;
    min-height: 172px;
    margin-top: 50px;
    text-align: center;
  }

  .small-text {
    min-height: 66px;
  }

  .large-text {
    font-size: 72px;
  }

  .textimg-midpage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .navig {
    margin-top: 34px;
    max-width: 655px;
    margin-left: 75px;
    width: 100%;
  }

  .img-soup {
    width: 617px;
    height: 512px;
    margin-left: 75px;
    margin-top: 45px;
  }
}
.nav {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.menu {
  margin: 0 30px 0 0;
}

.menu a {
  text-decoration: none;
  color: black;
  margin: 0 10px;
  line-height: 70px;
}

label {
  margin: 0 40px 0 0;
  line-height: 70px;
}

#toggle {
  display: none;
}

@media screen and (max-width: 320px) {
  .paragraphs {
    max-width: 211px;
    width: 100%;
    min-height: 104px;
  }

  .small-text {
    max-width: 211px;
    width: 100%;
    min-height: 49px;
    font-size: 12px;
  }

  .large-text {
    font-size: 36px;
    margin-bottom: 15px;
  }

  .img-soup {
    width: 256px;
    height: 284px;
    margin-left: 32px;
  }

  .navig {
    margin-left: 30px;
  }

  label {
    display: block;
    cursor: pointer;
  }
}